.cabecalho__container{
    display: flex;
    /*espaçamento entre os elementos horizontamente*/
    justify-content: space-between; /*deixa os elementos filhos com o mesmo espaçoes entres si*/
    /*espaçamento horizontamente*/
    align-items: center;
    position: fixed;
    top:0;  
}
.cabecalho__pesquisar__item{
    display: none;
}
@media (min-width: 834px) {
    .cabecalho__pesquisar__item{
        display: block;
    }
}
