/* cabecalho */
.cabecalho__container{
    display: flex;
    /*espaçamento entre os elementos horizontamente*/
    justify-content: space-between; /*deixa os elementos filhos com o mesmo espaçoes entres si*/
    /*espaçamento horizontamente*/
    align-items: center;
    position: fixed;
    top:0;  
}
.cabecalho__pesquisar__item{
    display: none;
}

/* seção superior */
.superior__secao__container{
    display: flex;
    white-space: nowrap;
    gap:15px;
    overflow: scroll;
    align-items: center;
}


/*menu*/
.menu__container{
    position: fixed;
    bottom: 0;
    height: 74px;
    width: 100%;
}
.menu__lista{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;

}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px
}


/* rodapé */
.rodape__container{
    display: flex;
    flex-flow: column wrap; /*equivale a flex-wrap e flex-direction */
}


@media (min-width: 834px) {
    /*cabecalho*/
    .cabecalho__pesquisar__item{
        display: block;
    }

    /*rodapé*/
    .rodape__container{
        justify-content: space-between;
    }
}
